body {
    background: #fdfdfd;
}

h1 {
    color: #ef5b13;
}

.loader {
    color: #ef5b13;
    font-size: xx-large;
    text-align: center;
}

.filter-title {
    color: #ef5b13;
    font-size: x-large;
    display: inline-block;
    margin-right: 15px;
}

.message {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: #acacac;
}


